@import './../../../../styles.scss';
$story-header-height: 36px;
$padding: 18px;

.stories-container {
  display: grid;
  grid-template-rows: min-content auto;
  overflow: hidden;

  @media (min-width: $desktop) {
    height: calc(100vh - #{$header-height} - #{$story-header-height});
  }

  @media (max-width: $mobile) {
    height: $stories-height-mobile;
  }

  .stories-header {}

  .stories-rows {

    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    // @media (min-width: $desktop) {
    //   height: calc(100vh - #{$header-height} - #{$story-header-height});
    // }

    // @media (max-width: $mobile) {
    //   height: $stories-height-mobile + $story-header-height;
    // }



    .story-row {}
  }
}
